@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: hsl(0, 0%, 0%);
}


header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  background-color: hsl(0, 0%, 0%);
}

.logo {
    margin-right: auto;
    color: hsl(0, 0%, 100%)
}

header a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

header a:hover {
    transform: translateY(5px);
    transition: .3s ease-in-out;
}

.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    gap: 1rem;
}

.main-image {
    max-width: 400px;
}

.main-image:hover {
    transform: scale(1.1);
    transition: .3s ease-in-out;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
    width: 30vw;
}

.title {
    text-align: left;
}

.info {
    color: hsl(0, 0%, 30%);
}

.sign-up-btn {
    background-color: hsl(0, 0%, 0%);
    color: white;
    border-color:hsl(0, 0%, 0%);
    width: 10vw;
    border-radius: 10px;
}

.sign-up-btn:hover {
    transform: scale(1.3);
    transition: .3s ease-in-out;
}

.content-wrapper-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-wrapper, .text-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
    flex-wrap: wrap;
}

.image-wrapper img {
    max-width: 200px;
    object-fit: cover;
}

.image-wrapper img:hover {
    transform: scale(1.2);
    transition: .3s ease-in-out;
}

.text-wrapper {
    padding-top: 10px;
    justify-content: space-around;
    width: 85vh;
}

.text-wrapper p {
    font-size: 1rem;
    font-weight: 800;
}